./*.png
.aux
.blg
.log
./*.pdf
.backup
.png
Network-lib/data/topologies/real
Network-lib/data/results/real
Network-lib/.classpath
Network-lib/.project
Network-lib/.settings
Network-lib/lib/gurobi.jar
